<% @sidebar_posts.each do |post| %>
  <section>
    <ul class="divided">
        <li>
            <article class="box excerpt">
              <header>
                <span class="date"><%= post.pub_date %></span>
                <h3><%= link_to post.title, public_show_path(post.slug) %></h3>
              </header>
              <p><%= strip_tags(post.body).truncate(200) %></p>
            </article>
        </li>
    </ul>
  </section>
<% end %>
