<!-- Features -->
    <%= render 'features' %>
    <ul class="actions">
      <li><a href="#" class="button icon fa-file">View All Posts</a></li>
    </ul>
  </section>
</div>

<!-- Banner -->
<div id="banner-wrapper">
  <div class="inner">
    <section id="banner" class="container">
      <p>Promise me you'll always remember: you are <strong>braver than you believe</strong>, and <strong>stronger than you seem</strong>, and <strong>smarter than you think</strong>.</p>
    </section>
  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
        <div id="content" class="8u 12u(mobile)">

          <!-- Post -->
            <h1><a href="#">I think its time to meet the  <strong>Peas</strong> ...<br /></a></h1>
            <article class="post box" style="box-shadow: none;">
              <header>
                <h2><a href="#">Oliver the smallest of the <strong>Peas</strong><br /></a></h2>
              </header>
              <a href="#" class="image featured"><%= image_tag "oliver.jpg" %></a>
              <h2>Talking through some of his cutest little qualities or something.</h3>
              <p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
              ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
              sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
              in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
              magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
              consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
              justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
              mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
              Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.</p>
              <ul class="actions">
                <li><a href="#" class="button icon fa-file">Continue Reading</a></li>
              </ul>
            </article>

          <!-- Post -->
            <article class="post box" style="box-shadow: none;">
              <header>
                <h2><a href="#">My <strong>better</strong>
                half</a></h2>
              </header>
              <a href="#" class="image featured"><%= image_tag "ows.jpg" %></a>
              <h3>Something about our story and how we got together.</h3>
              <p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
              ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
              sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
              in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
              consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
              in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
              magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
              consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
              justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
              mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
              Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.</p>
              <p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat
              Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula
              vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet
              magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in,
              tristique at erat. Curabitur leo nibh, rutrum eu malesuada  in, tristique
              at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna
              tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros consequat
              magna tempus</p>
              <ul class="actions">
                <li><a href="#" class="button icon fa-file">Continue Reading</a></li>
              </ul>
            </article>

        </div>

      <!-- Sidebar -->
        <div id="sidebar" class="4u 12u(mobile)">
          <%= render 'sidebar' %>
        </div>

    </div>
  </div>
</div>
