<!-- Features -->
    <%= render 'features' %>
    <ul class="actions">
      <li><a href="#" class="button icon fa-file">View All Posts</a></li>
    </ul>
  </section>
</div>

<!-- Banner -->
<div id="banner-wrapper">
  <div class="inner">
    <section id="banner" class="container">
      <p>Promise me you'll always remember: you are <strong>braver than you believe</strong>, and <strong>stronger than you seem</strong>, and <strong>smarter than you think</strong>.</p>
    </section>
  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
        <div id="content" class="8u 12u(mobile)">
          <h1>meet the  <strong>Peas</strong> ...<br /></h1>
          <!-- Post -->
          <article class="post box" style="box-shadow: none;">
            <header>
              <h2>Our <strong>Story</strong></h2>
            </header>
            <p class="image featured"><%= image_tag "2015-07-13.jpg" %></p>
            <p>
            Hello, world! My name is Halleson Thompson and I’m the face behind the Three Peas in a Pod blog.
            A little bit about me; I was born in Alabama, but moved here to Georgia when I was very little.
            I love all things music, food, art, and festivals. I think I prefer animals to humans, but actually I just prefer dogs to humans.
            I gave birth to an amazing baby boy in July of 2014, and after struggling with some post-partum depression
            I really began to like him and now he is the best thing we’ve ever done. I can be a bit neurotic at times,
            as only my husband knows best, but he chose to marry me anyway. So, God bless him for that!</p>
            <p><strong>Speaking of my husband</strong>, here is our story: Matt and I met when we were in middle school and it was a
            roller coaster from there on out. We dated off and on until our Sophomore year of high school at which point,
            we finally decided enough was enough and we either needed to stay together or break up for good; we chose the latter.
            Over the next two years, we both went through a lot with our families and other relationships.
            Eventually we were brought back together our Senior year. After another difficult year, we gave dating a shot again.
            And, I knew then what everyone had been trying to tell me for years, that I was going to marry this man.
            Almost a year into our relationship (this time) we found out we were expecting.
            After wrapping our heads around the idea, we realized we could start the rest of our lives together sooner rather than later.
            Matt and I were married in April of 2014 and have been either loving it, hating it, or making it work since then,
            but I would hope mostly loving it. He truly is the best human being I’ve ever met and is absolutely my partner in crime.
            Most importantly, he would help me hide the body without a second thought!</p>
          </article>
          <!-- Post -->

          <article class="post box" style="box-shadow: none;">
            <header>
              <h2 style="margin-bottom: 0; margin-right: 10px; display: inline;">Oliver, the <strong>Littlest Pea.</strong></h2><span style="margin: 0 0 1.5em 0;">(Littlest is just such a cute word)</span><br />
            </header>
            <p class="featured image"><%= image_tag "oliver.jpg" %></p>
            <h2>Oliver gets a category all to himself, because he’s just that kind of kid.</h3>
            <p>Born in July, like me, I can only imagine what we have in store for ourselves.
              He will be turning one in just a few short weeks and time has absolutely flown by! He began walking at nine months old and has not stopped since;
              he is constantly on the go, getting into everything, and honestly has quite the temper.</p>
            <p>Oliver is very intelligent (you knew I would say that) and always seems to know/remember where we hide things.
              This is amazing to me, because I feel like he should just be happy to trod along and pee his pants instead of worrying about where the Lysol is.
              He loves to eat, swim, and dance. He babbles all of the time. We kind of like him and think we will keep him around.</p>
          </article>
        </div>

      <!-- Sidebar -->
        <div id="sidebar" class="4u 12u(mobile)">
          <%= render 'sidebar' %>
        </div>

    </div>
  </div>
</div>
