.small-12.medium-8.columns.small-centered.medium-centered
  br
  br
  h1 Edit Post
  = link_to "Delete", post_path(@post), method: :delete, class: "button right small alert"
  = form_for(@post, { multipart: true }) do |f|
    .row
      .large-6.columns.small-12
        =f.label :title
        =f.text_field :title
        
        =f.label :main_image
        =f.file_field :main_image

    =f.label :body
    =f.text_area :body, rows: "8", class: "tinymce"

    =f.label :tags
    =f.text_field :tags

    =f.label :pub_date, "Publish Date"
    =f.date_field :pub_date

    =f.submit "Update Post"

javascript:
  $("document:ready", function() {
    $(".tinymce").tinymce({
      theme: "modern",
      toolbar: "bold,italic,underline,|,bullist,numlist,outdent,indent,|,undo,redo,|,pastetext,pasteword,selectall,|,uploadimage,link,code",
      pagebreak_separator: "<p class='page-separator'>&nbsp;</p>",
      plugins: ["uploadimage", "link", "code"],
      uploadimage_form_url: "/tinymce_assets",
      relative_urls: false,
      remove_script_host: false
    })
  });
