<% @sidebar_posts.each do |post| %>
  <section>
    <ul class="divided">
        <li>
            <article class="box excerpt">
              <header>
                <span class="date"><%= post.pub_date %></span>
                <h3><a href="#"><%= post.title %></a></h3>
              </header>
              <p><%= strip_tags(post.body).truncate(100) %></p>
            </article>
        </li>
    </ul>
  </section>
<% end %>
